<a href="https://colab.research.google.com/github/saikumarreddykorsapati-source/LEARN-/blob/main/PANDAS_Complete_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import pandas as pd

In [58]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [64]:
df['new_col'] = 'sai'

In [65]:
df.head(2)

   longitude  latitude  ...  median_house_value  new_col
0    -122.05     37.37  ...            344700.0      sai
1    -118.30     34.26  ...            176500.0      sai

[2 rows x 10 columns]

In [66]:
df.tail(2)

      longitude  latitude  ...  median_house_value  new_col
2998    -117.12     34.10  ...            162500.0      sai
2999    -119.63     34.42  ...            500001.0      sai

[2 rows x 10 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
type(df['longitude'])

pandas.core.series.Series

In [8]:
type(df[['longitude']]) # if we put list in a list or double square brackets then a series will be treated as DataFrame

pandas.core.frame.DataFrame

In [9]:
df['longitude','latitude'] # if we want to access more than one columns from data frame we should use Double Brackets ie., 
#we can access one column in case of series, if we want access more than one we should use data frame

KeyError: ignored

In [11]:
df[['longitude','latitude']] # resolution for above issue

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [51]:
df.info() # used to show over all information of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [52]:
df.dtypes # used to show data types of the columns

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [50]:
df.describe() # provides description or statstical view of whole data frame, By default int,float values will be considered

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [80]:
df.dtypes==object

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
new_col                True
dtype: bool

In [172]:
df1 = df[df.dtypes[df.dtypes == 'object'].index]
df1.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [68]:
df.describe(include='all') # by using this we can describe whole data set both int,float along with string type as well

          longitude    latitude  ...  median_house_value  new_col
count   3000.000000  3000.00000  ...          3000.00000     3000
unique          NaN         NaN  ...                 NaN        1
top             NaN         NaN  ...                 NaN      sai
freq            NaN         NaN  ...                 NaN     3000
mean    -119.589200    35.63539  ...        205846.27500      NaN
std        1.994936     2.12967  ...        113119.68747      NaN
min     -124.180000    32.56000  ...         22500.00000      NaN
25%     -121.810000    33.93000  ...        121200.00000      NaN
50%     -118.485000    34.27000  ...        177650.00000      NaN
75%     -118.020000    37.69000  ...        263975.00000      NaN
max     -114.490000    41.92000  ...        500001.00000      NaN

[11 rows x 10 columns]

In [85]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'new_col'],
      dtype='object')

In [83]:
df.to_csv("test.csv",index=False,sep = "#", columns=['longitude','latitude']) # used to convert our data into csv format and auto downloaded to our local machine

In [14]:
!ls # used to list files in our local machine

sample_data  test.csv

In [16]:
!pwd # present working directory

/content

In [49]:
df1 = pd.read_csv("/content/sample_data/california_housing_test.csv", sep=",", header=None, skiprows=[0], na_values=['42','-122.05','661.0'], names=['O','T','Th','F','Fi','S','Sev','E','N'])
df1

           O      T    Th       F      Fi       S     Sev       E         N
0        NaN  37.37  27.0  3885.0     NaN  1537.0   606.0  6.6085  344700.0
1    -118.30  34.26  43.0  1510.0   310.0   809.0   277.0  3.5990  176500.0
2    -117.81  33.78  27.0  3589.0   507.0  1484.0   495.0  5.7934  270500.0
3    -118.36  33.82  28.0    67.0    15.0    49.0    11.0  6.1359  330000.0
4    -119.67  36.33  19.0  1241.0   244.0   850.0   237.0  2.9375   81700.0
...      ...    ...   ...     ...     ...     ...     ...     ...       ...
2995 -119.86  34.42  23.0  1450.0   642.0  1258.0   607.0  1.1790  225000.0
2996 -118.14  34.06  27.0  5257.0  1082.0  3496.0  1036.0  3.3906  237200.0
2997 -119.70  36.30  10.0   956.0   201.0   693.0   220.0  2.2895   62000.0
2998 -117.12  34.10  40.0    96.0    14.0    46.0    14.0  3.2708  162500.0
2999 -119.63  34.42   NaN  1765.0   263.0   753.0   260.0  8.5608  500001.0

[3000 rows x 9 columns]

In [ ]:
df2 = pd.read_excel('E:/Downloads/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx',sheet_name='Create your instrument universe')

In [87]:
df4 = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [92]:
type(df4)

list

In [93]:
len(df4)

6

In [96]:
df4[0].head(2)

    Season  ...                                    PTS
0  2008-09  ...  Did Not Play (other pro league—Spain)
1  2009-10  ...                                    6.3

[2 rows x 30 columns]

In [98]:
df4[5].head(2)

    Season   Age   Tm   Lg Pos     G  ...  WS/48  Unnamed: 24  OBPM  DBPM  BPM  VORP
0  2009-10  20.0  OKC  NBA  PF   6.0  ...  0.144          NaN  -1.0   2.0  0.9   0.1
1  2010-11  21.0  OKC  NBA  PF  17.0  ...  0.109          NaN  -1.6   0.8 -0.8   0.1

[2 rows x 29 columns]

In [99]:
html_data = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")
for i in range(len(html_data)):
    html_data[i].to_csv(f"html_data{i}.csv", index=False)

In [100]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [101]:
s = """{
"name" :"sudh",
"phone_no" : 45454545,
"comp":["iNeuron", "EY" , "unilver" , "verizon" , "deloitte" , "wipro"]
}
"""

In [102]:
import json

In [103]:
js = json.loads(s)

In [104]:
js

{'comp': ['iNeuron', 'EY', 'unilver', 'verizon', 'deloitte', 'wipro'],
 'name': 'sudh',
 'phone_no': 45454545}

In [109]:
pd.DataFrame(js,columns=['comp'])

       comp
0   iNeuron
1        EY
2   unilver
3   verizon
4  deloitte
5     wipro

In [110]:
import requests

In [114]:
res = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

In [113]:
res

In [115]:
js = res.json()

In [124]:
js1 = pd.DataFrame(js).head(3)

22 ) Pandas Basic

In [126]:
js

[{'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': '- [✔ ] closes #45311\r\n- [✔] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [✔] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [X] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45797/comments',
  'created_at': '2022-02-03T04:08:23Z',
  'draft': False,
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45797/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45797',
  'id': 1122630691,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45797/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'PR_kwDOAA0YD84yALfv',
  'number': 45797,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/45797.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45797',
   'merged_at': None,
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45797.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45797'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45797/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45797/timeline',
  'title': 'Test series replace different numpy int',
  'updated_at': '2022-02-03T05:44:52Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45797',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/36619387?v=4',
   'events_url': 'https://api.github.com/users/weikhor/events{/privacy}',
   'followers_url': 'https://api.github.com/users/weikhor/followers',
   'following_url': 'https://api.github.com/users/weikhor/following{/other_user}',
   'gists_url': 'https://api.github.com/users/weikhor/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/weikhor',
   'id': 36619387,
   'login': 'weikhor',
   'node_id': 'MDQ6VXNlcjM2NjE5Mzg3',
   'organizations_url': 'https://api.github.com/users/weikhor/orgs',
   'received_events_url': 'https://api.github.com/users/weikhor/received_events',
   'repos_url': 'https://api.github.com/users/weikhor/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/weikhor/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/weikhor/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/weikhor'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': '- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nAchieves consistency across methods in coercion behavior for IntervalDtype.',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45796/comments',
  'created_at': '2022-02-03T03:43:09Z',
  'draft': False,
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45796/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45796',
  'id': 1122619570,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45796/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'PR_kwDOAA0YD84yAJPy',
  'number': 45796,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/45796.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45796',
   'merged_at': None,
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45796.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45796'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45796/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45796/timeline',
  'title': 'BUG: Series[Interval].fillna(mismatched) coerce instead of raise',
  'updated_at': '2022-02-03T03:43:09Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45796',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jbrockmendel',
   'id': 8078968,
   'login': 'jbrockmendel',
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jbrockmendel'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': "- [x] closes #45572 (Replace xxxx with the Github issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nBuilt on top of #45794\r\n\r\nAny attributes we're looking to make protected are deprecated here, allowing users to use them until the next major release. Not deprecating any immutable attributes - users may find these useful and they do not require any extra care.\r\n\r\nDocs for ExcelWriter are attached.\r\n[excel_writer.pdf](https://github.com/pandas-dev/pandas/files/7991646/excel_writer.pdf)\r\n",
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45795/comments',
  'created_at': '2022-02-03T03:39:54Z',
  'draft': False,
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45795/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45795',
  'id': 1122618298,
  'labels': [{'color': 'bfe5bf',
    'default': False,
    'description': 'read_excel, to_excel',
    'id': 49254273,
    'name': 'IO Excel',
    'node_id': 'MDU6TGFiZWw0OTI1NDI3Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Excel'},
   {'color': '5319e7',
    'default': False,
    'description': 'Functionality to remove in pandas',
    'id': 87485152,
    'name': 'Deprecate',
    'node_id': 'MDU6TGFiZWw4NzQ4NTE1Mg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Deprecate'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45795/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'PR_kwDOAA0YD84yAI_r',
  'number': 45795,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/45795.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45795',
   'merged_at': None,
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45795.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45795'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45795/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45795/timeline',
  'title': 'DEP: Protect some ExcelWriter attributes',
  'updated_at': '2022-02-03T03:39:54Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45795',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/rhshadrach',
   'id': 45562402,
   'login': 'rhshadrach',
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/rhshadrach'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': '- [x] closes #45793 (Replace xxxx with the Github issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45794/comments',
  'created_at': '2022-02-03T03:14:44Z',
  'draft': False,
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45794/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45794',
  'id': 1122607485,
  'labels': [{'color': 'e10c02',
    'default': False,
    'description': None,
    'id': 76811,
    'name': 'Bug',
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug'},
   {'color': 'bfe5bf',
    'default': False,
    'description': 'read_excel, to_excel',
    'id': 49254273,
    'name': 'IO Excel',
    'node_id': 'MDU6TGFiZWw0OTI1NDI3Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Excel'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45794/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'PR_kwDOAA0YD84yAGz7',
  'number': 45794,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/45794.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45794',
   'merged_at': None,
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45794.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45794'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45794/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45794/timeline',
  'title': 'BUG: Error writing an empty DataFrame to an ods file',
  'updated_at': '2022-02-03T03:14:44Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45794',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/rhshadrach',
   'id': 45562402,
   'login': 'rhshadrach',
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/rhshadrach'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': "### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```python\nwith pd.ExcelWriter('test.ods') as writer:\r\n    DataFrame().to_excel(writer)\n```\n\n\n### Issue Description\n\nRaises `ValueError: max() arg is an empty sequence`\n\n### Expected Behavior\n\nWrite an empty sheet\n\n### Installed Versions\n\n<details>\r\n\r\nReplace this line with the output of pd.show_versions()\r\n\r\n</details>\r\n",
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45793/comments',
  'created_at': '2022-02-03T03:05:51Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45793/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/45793',
  'id': 1122602914,
  'labels': [{'color': 'e10c02',
    'default': False,
    'description': None,
    'id': 76811,
    'name': 'Bug',
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug'},
   {'color': 'bfe5bf',
    'default': False,
    'description': 'read_excel, to_excel',
    'id': 49254273,
    'name': 'IO Excel',
    'node_id': 'MDU6TGFiZWw0OTI1NDI3Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Excel'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45793/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'I_kwDOAA0YD85C6Y-i',
  'number': 45793,
  'performed_via_github_app': None,
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45793/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45793/timeline',
  'title': 'BUG: Error writing an empty DataFrame to an ods file',
  'updated_at': '2022-02-03T03:05:51Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45793',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/rhshadrach',
   'id': 45562402,
   'login': 'rhshadrach',
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/rhshadrach'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'NONE',

In [125]:
js[0]['title']

'Test series replace different numpy int'

In [127]:
for i in range(len(js)):
  print(js[i]['title'])

Test series replace different numpy int
BUG: Series[Interval].fillna(mismatched) coerce instead of raise
DEP: Protect some ExcelWriter attributes
BUG: Error writing an empty DataFrame to an ods file
BUG: Error writing an empty DataFrame to an ods file
BUG: `df.to_hdf` fails when `DatetimeIndex` has `freq=pd.DateOffset(years=1)`
BUG: Date time slicing fails for `freq=pd.DateOffset(years=1)`
BUG: loc raising uncontrolled error when more indexers than levels
TST: Skip flaky, crashing test in Windows
Regression: Loc raising when indexing mi with one level
BUG: Apply with one row unexpected behaviour - It sorts columns
Enhance consistency on Styler hide methods
BUG: Accessing a one-level MultiIndex with `.loc` raises with an unclear error (in 1.4)
ENH: support masked arrays in hashtable-based functions (duplicated, isin, mode)
Lose the index before 'na_value' assignment in 'to_numpy'
BUG: Multi-indexed Series to Numpy fails when `na_value` supplied
DOC: Addition of plt.show() in the "How to create plots in pandas?" section of the Getting started tutorials
REF/TYP: collect Block methods
BUG: unsuccessful value assignment of data frame with an n*2 list when using pandas loc
TST: add test for compatibility with numpy datetime64 (#41617)
ENH: Rolling window with step size (GH-15354)
BUG: Unclear error on index slicing beyond last index level
BUG: NaNs generated when mutating subset of column MultiIndex via loc
Implement nested types: Add StructDtype and StructArray
BUG: stack_multi_columns extension array downcast
ENH: timezone-aware `Period`
BUG: ExcelWriter with openpyxl, engine_kwargs doesn't work anymore
0-indexing consistency
BUG: TypeError when attempting to replace Nullable integer data type with a float value
ENH: Add large file support for read_xml

In [128]:
len(js)

30

In [130]:
js1.head(2)

                                                 url  ... performed_via_github_app
0  https://api.github.com/repos/pandas-dev/pandas...  ...                     None
1  https://api.github.com/repos/pandas-dev/pandas...  ...                     None

[2 rows x 29 columns]

In [132]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues").head(2)

                                                 url  ... performed_via_github_app
0  https://api.github.com/repos/pandas-dev/pandas...  ...                      NaN
1  https://api.github.com/repos/pandas-dev/pandas...  ...                      NaN

[2 rows x 29 columns]

In [134]:
lis=[]
for i in range(len(js)):
    lis.append(js[i]['user'])
pd.DataFrame(lis).head(2)

          login        id  ...  type site_admin
0       weikhor  36619387  ...  User      False
1  jbrockmendel   8078968  ...  User      False

[2 rows x 18 columns]

In [136]:
user = []
res=requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')
js=res.json()
for i in range(len(js)):
    user.append(js[i]['user'])

pd.DataFrame(user).head(2)

          login        id  ...  type site_admin
0       weikhor  36619387  ...  User      False
1  jbrockmendel   8078968  ...  User      False

[2 rows x 18 columns]

In [139]:
pd.DataFrame([js[i]["user"] for i in range(len(js))]).head(2)

          login        id  ...  type site_admin
0       weikhor  36619387  ...  User      False
1  jbrockmendel   8078968  ...  User      False

[2 rows x 18 columns]

In [141]:
l = []
for i in range(len(js)):
    l.append(js[i]['user'])
    
pd.DataFrame(l).head(2)

          login        id  ...  type site_admin
0       weikhor  36619387  ...  User      False
1  jbrockmendel   8078968  ...  User      False

[2 rows x 18 columns]

In [143]:
json_data = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user'])
data.head(2)

          login        id  ...  type site_admin
0       weikhor  36619387  ...  User      False
1  jbrockmendel   8078968  ...  User      False

[2 rows x 18 columns]

In [144]:
form_file = pd.read_csv("html_data1.csv")

In [147]:
form_file.to_pickle("my_pickle")

In [150]:
form_file.head(2)

    Season   Age   Tm   Lg Pos     G    GS  ...  TRB  AST  STL  BLK  TOV   PF  PTS
0  2009-10  20.0  OKC  NBA  PF   6.0   0.0  ...  6.5  0.3  0.3  2.0  1.0  3.2  7.8
1  2010-11  21.0  OKC  NBA  PF  17.0  17.0  ...  7.3  0.2  0.2  3.1  1.2  3.8  9.8

[2 rows x 30 columns]

In [163]:
import pandas as pd

In [157]:
!pip install --upgrade tables

Requirement already satisfied: tables in /usr/local/lib/python3.7/dist-packages (3.7.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tables) (21.3)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from tables) (1.19.5)
Requirement already satisfied: numexpr>=2.6.2 in /usr/local/lib/python3.7/dist-packages (from tables) (2.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tables) (3.0.7)

In [164]:
h5_data = pd.HDFStore('test.h5')

ImportError: ignored

In [165]:
h5_data['obj1'] = form_file

NameError: ignored

In [166]:
h5_data['obj1']

NameError: ignored

In [167]:
h5_data.put('obj2' ,form_file,format='table' )

NameError: ignored

In [168]:
h5_data.select('obj2' ,where =['index >= 10 and index <=15']  )

NameError: ignored

In [169]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [170]:
df.tail(2)

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[2 rows x 12 columns]

In [173]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [171]:
type(df.dtypes)

pandas.core.series.Series

In [174]:
df.dtypes=='float64'

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin          False
Embarked       False
dtype: bool

In [175]:
df[["Name" , 'Fare']]

                                                  Name     Fare
0                              Braund, Mr. Owen Harris   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
2                               Heikkinen, Miss. Laina   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
4                             Allen, Mr. William Henry   8.0500
..                                                 ...      ...
886                              Montvila, Rev. Juozas  13.0000
887                       Graham, Miss. Margaret Edith  30.0000
888           Johnston, Miss. Catherine Helen "Carrie"  23.4500
889                              Behr, Mr. Karl Howell  30.0000
890                                Dooley, Mr. Patrick   7.7500

[891 rows x 2 columns]

In [176]:
df[df.dtypes[df.dtypes== 'float64'].index]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [177]:
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [181]:
df['Name'][5:10:2]

5                       Moran, Mr. James
7         Palsson, Master. Gosta Leonard
9    Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [182]:
sorted(df['Ticket'])

['110152',
 '110152',
 '110152',
 '110413',
 '110413',
 '110413',
 '110465',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113572',
 '113760',
 '113760',
 '113760',
 '113760',
 '113767',
 '113773',
 '113776',
 '113776',
 '113781',
 '113781',
 '113781',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113798',
 '113800',
 '113803',
 '113803',
 '113804',
 '113806',
 '113806',
 '113807',
 '11668',
 '11668',
 '11751',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '11967',
 '12233',
 '12460',
 '12749',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13502',
 '13502',
 '13507',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '16966',
 '16966',
 '16988',
 '17421',
 '17421',
 '17421',
 '17421',
 '17453',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17474',
 '17764',
 '19877',
 '19877',
 '19928',
 '19928',
 '19943',
 '19943',
 '19947',
 '19950',
 '19950',
 '19950',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230080',
 '230080',
 '230136',
 '230136',
 '230433',
 '230433',
 '230434',
 '231919',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237736',
 '237789',
 '237798',
 '239853',
 '239853',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '239865',
 '240929',
 '24160',
 '24160',
 '24160',
 '243847',
 '243847',
 '243880',
 '244252',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248727',
 '248727',
 '248731',
 '248733',
 '248738',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250644',
 '250646',
 '250647',
 '250647',
 '250648',
 '250649',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2651',
 '2653',
 '2653',
 '2659',
 '2659',
 '2661',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2665',
 '2666',
 '2666',
 '2666',
 '2666',
 '2667',
 '2668',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29106',
 '29106',
 '29108',
 '2926',
 '29750',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101278',
 '3101281',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345773',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347077',
 '347077',
 '347077',
 '347078',
 '347080',
 '347080',
 '347081',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347742',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349909',
 '349909',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35273',
 '35273',
 '35281',
 '35281',
 '35851',
 '35852',
 '358585',
 '358585',
 '36209',
 '362316',
 '363291',
 '363291',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364516',
 '364846',
 '364848',
 '364849',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367226',
 '367228',
 '367229',
 '367230',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36928',
 '36947',
 '36947',
 '36963',
 '36967',
 '36973',
 '36973',
 '370129',
 '370129',
 '370365',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371110',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '382652',
 '382652',
 '382652',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '392096',
 '394140',
 '4133',
 '4133',
 '4133',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'LINE',
 'LINE',
 'LINE',
 'P/PP 3381',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17485',
 'PC 17558',
 'PC 17558',
 'PC 17569',
 'PC 17569',
 'PC 17572',
 'PC 17572',
 'PC 17572',
 'PC 17582',
 'PC 17582',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17755',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17758',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17760',
 'PC 17760',
 'PC 17761',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735',
 'WE/P 5735']

In [183]:
for i in df.columns : 
    print(df[[i]])

     PassengerId
0              1
1              2
2              3
3              4
4              5
..           ...
886          887
887          888
888          889
889          890
890          891

[891 rows x 1 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]
     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]
                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]
        Sex
0      male
1    female
2    female
3    female
4      male
..      ...
886    male
887  female
888  female
889    male
890    male

[891 rows x 1 columns]
      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]
     SibSp
0        1
1        1
2        0
3        1
4        0
..     ...
886      0
887      0
888      1
889      0
890      0

[891 rows x 1 columns]
     Parch
0        0
1        0
2        0
3        0
4        0
..     ...
886      0
887      0
888      2
889      0
890      0

[891 rows x 1 columns]
               Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
..                ...
886            211536
887            112053
888        W./C. 6607
889            111369
890            370376

[891 rows x 1 columns]
        Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 1 columns]
    Cabin
0     NaN
1     C85
2     NaN
3    C123
4     NaN
..    ...
886   NaN
887   B42
888   NaN
889  C148
890   NaN

[891 rows x 1 columns]
    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 1 columns]

In [185]:
df['sudh'] = df['PassengerId']
df

     PassengerId  Survived  Pclass  ... Cabin Embarked  sudh
0              1         0       3  ...   NaN        S     1
1              2         1       1  ...   C85        C     2
2              3         1       3  ...   NaN        S     3
3              4         1       1  ...  C123        S     4
4              5         0       3  ...   NaN        S     5
..           ...       ...     ...  ...   ...      ...   ...
886          887         0       2  ...   NaN        S   887
887          888         1       1  ...   B42        S   888
888          889         0       3  ...   NaN        S   889
889          890         1       1  ...  C148        C   890
890          891         0       3  ...   NaN        Q   891

[891 rows x 13 columns]

In [186]:
pd.Categorical(df['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [187]:
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [188]:
df['Pclass'].unique()

array([3, 1, 2])

In [189]:
ser = df['Cabin'][df['Cabin'].isnull() == True]

In [190]:
len(ser.index)

687

In [191]:
df.iloc[ser.index]

     PassengerId  Survived  Pclass  ... Cabin Embarked  sudh
0              1         0       3  ...   NaN        S     1
2              3         1       3  ...   NaN        S     3
4              5         0       3  ...   NaN        S     5
5              6         0       3  ...   NaN        Q     6
7              8         0       3  ...   NaN        S     8
..           ...       ...     ...  ...   ...      ...   ...
884          885         0       3  ...   NaN        S   885
885          886         0       3  ...   NaN        Q   886
886          887         0       2  ...   NaN        S   887
888          889         0       3  ...   NaN        S   889
890          891         0       3  ...   NaN        Q   891

[687 rows x 13 columns]

In [192]:
df[df['Fare'] == max(df['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [194]:
df['new_col'] = df['PassengerId']  + df['Age']
df

     PassengerId  Survived  Pclass  ... Embarked sudh  new_col
0              1         0       3  ...        S    1     23.0
1              2         1       1  ...        C    2     40.0
2              3         1       3  ...        S    3     29.0
3              4         1       1  ...        S    4     39.0
4              5         0       3  ...        S    5     40.0
..           ...       ...     ...  ...      ...  ...      ...
886          887         0       2  ...        S  887    914.0
887          888         1       1  ...        S  888    907.0
888          889         0       3  ...        S  889      NaN
889          890         1       1  ...        C  890    916.0
890          891         0       3  ...        Q  891    923.0

[891 rows x 14 columns]

In [196]:
df5 = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep= '\t')
df5

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

In [197]:
df5.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt

https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv

https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv

https://drive.google.com/file/d/1etGP85wJWsgqbsh3gX5oxc8dPKLMA1eT/view

26 ) Working with Pandas

In [201]:
import pandas as pd  
titanic_train = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv",sep=',')   
titanic_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [205]:
dy = titanic_train.dtypes
dy

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [203]:
dy['Pclass']

dtype('int64')

In [204]:
dy[0:100:2]

PassengerId     int64
Pclass          int64
Sex            object
SibSp           int64
Ticket         object
Cabin          object
dtype: object

In [206]:
type(titanic_train['Age'])

pandas.core.series.Series

In [207]:
titanic_train['Age'][-1] # unlike list we cannot access the data with negative values

KeyError: ignored

In [211]:
titanic_train['Age'][::2]

0      22.0
2      26.0
4      35.0
6      54.0
8      27.0
       ...
882    22.0
884    25.0
886    27.0
888     NaN
890    32.0
Name: Age, Length: 446, dtype: float64

In [ ]:
list(titanic_train['Age'][::2])

In [212]:
titanic_train_cat = titanic_train[titanic_train.dtypes[titanic_train.dtypes == 'object'].index]

In [213]:
type(titanic_train.dtypes[titanic_train.dtypes == 'object'])

pandas.core.series.Series

In [220]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'sudh', 'new_col'],
      dtype='object')

In [221]:
titanic_train.dtypes[titanic_train.dtypes == 'object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [222]:
titanic_train_cat.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [223]:
import numpy as np

In [226]:
titanic_train_age_null = np.where(titanic_train['Age'].isnull() == True)
titanic_train_age_null

(array([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,  45,  46,  47,
         48,  55,  64,  65,  76,  77,  82,  87,  95, 101, 107, 109, 121,
        126, 128, 140, 154, 158, 159, 166, 168, 176, 180, 181, 185, 186,
        196, 198, 201, 214, 223, 229, 235, 240, 241, 250, 256, 260, 264,
        270, 274, 277, 284, 295, 298, 300, 301, 303, 304, 306, 324, 330,
        334, 335, 347, 351, 354, 358, 359, 364, 367, 368, 375, 384, 388,
        409, 410, 411, 413, 415, 420, 425, 428, 431, 444, 451, 454, 457,
        459, 464, 466, 468, 470, 475, 481, 485, 490, 495, 497, 502, 507,
        511, 517, 522, 524, 527, 531, 533, 538, 547, 552, 557, 560, 563,
        564, 568, 573, 578, 584, 589, 593, 596, 598, 601, 602, 611, 612,
        613, 629, 633, 639, 643, 648, 650, 653, 656, 667, 669, 674, 680,
        692, 697, 709, 711, 718, 727, 732, 738, 739, 740, 760, 766, 768,
        773, 776, 778, 783, 790, 792, 793, 815, 825, 826, 828, 832, 837,
        839, 846, 849, 859, 863, 868, 878, 888]),)

In [225]:
titanic_train[titanic_train['Age'].isnull() == True]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
5              6         0       3  ...   8.4583   NaN         Q
17            18         1       2  ...  13.0000   NaN         S
19            20         1       3  ...   7.2250   NaN         C
26            27         0       3  ...   7.2250   NaN         C
28            29         1       3  ...   7.8792   NaN         Q
..           ...       ...     ...  ...      ...   ...       ...
859          860         0       3  ...   7.2292   NaN         C
863          864         0       3  ...  69.5500   NaN         S
868          869         0       3  ...   9.5000   NaN         S
878          879         0       3  ...   7.8958   NaN         S
888          889         0       3  ...  23.4500   NaN         S

[177 rows x 12 columns]

In [227]:
titanic_train.iloc[titanic_train_age_null]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
5              6         0       3  ...   8.4583   NaN         Q
17            18         1       2  ...  13.0000   NaN         S
19            20         1       3  ...   7.2250   NaN         C
26            27         0       3  ...   7.2250   NaN         C
28            29         1       3  ...   7.8792   NaN         Q
..           ...       ...     ...  ...      ...   ...       ...
859          860         0       3  ...   7.2292   NaN         C
863          864         0       3  ...  69.5500   NaN         S
868          869         0       3  ...   9.5000   NaN         S
878          879         0       3  ...   7.8958   NaN         S
888          889         0       3  ...  23.4500   NaN         S

[177 rows x 12 columns]

In [228]:
titanic_train.iloc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [229]:
titanic_train.iloc[[1,2,3,6,7]]

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S

[5 rows x 12 columns]

In [230]:
titanic_train.iloc[np.where(titanic_train['Fare'] == max(titanic_train['Fare']))]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [231]:
titanic_train[titanic_train['Fare']==titanic_train['Fare'].max()]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [232]:
titanic_train[titanic_train['Age']==24.0]['Name']

89                                Celotti, Mr. Francesco
118                             Baxter, Mr. Quigg Edmond
127                            Madsen, Mr. Fridtjof Arne
139                                   Giglio, Mr. Victor
142    Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
199               Yrois, Miss. Henriette ("Mrs Harbeck")
210                                       Ali, Mr. Ahmed
234                    Leyson, Mr. Robert William Norman
247                      Hamalainen, Mrs. William (Anna)
293                                  Haas, Miss. Aloisia
294                                     Mineff, Mr. Ivan
310                       Hays, Miss. Margaret Bechstein
316                  Kantor, Mrs. Sinai (Miriam Sternin)
341                       Fortune, Miss. Alice Elizabeth
345                        Brown, Miss. Amelia "Mildred"
369                        Aubart, Mme. Leontine Pauline
394    Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...
437                Richards, Mrs. Sidney (Emily Hocking)
499                                   Svensson, Mr. Olof
514                                    Coleff, Mr. Satio
565                                 Davies, Mr. Alfred J
600    Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...
615                                  Herman, Miss. Alice
641                                 Sagesser, Mlle. Emma
655                            Hickman, Mr. Leonard Mark
710     Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
743                                    McNamee, Mr. Neal
770                               Lievens, Mr. Rene Aime
858                Baclini, Mrs. Solomon (Latifa Qurban)
864                               Gill, Mr. John William
Name: Name, dtype: object

In [233]:
titanic_train[titanic_train['Age'] == titanic_train['Age'].min()]['Name']

803    Thomas, Master. Assad Alexander
Name: Name, dtype: object

In [234]:
titanic_train['Age'][titanic_train['Cabin'].isnull()]

0      22.0
2      26.0
4      35.0
5       NaN
7       2.0
       ...
884    25.0
885    39.0
886    27.0
888     NaN
890    32.0
Name: Age, Length: 687, dtype: float64

In [ ]:
titanic_train[['Age','Cabin']][titanic_train.Cabin.isnull()==True]

      Age Cabin
0    22.0   NaN
2    26.0   NaN
4    35.0   NaN
5     NaN   NaN
7     2.0   NaN
..    ...   ...
150  51.0   NaN
152  55.5   NaN
153  40.5   NaN
154   NaN   NaN
155  51.0   NaN

[125 rows x 2 columns]

In [ ]:
titanic_train[titanic_train['Cabin']  == 'NaN']

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [ ]:
titanic_train[titanic_train['Cabin'] == 'NaN']['Age']

Series([], Name: Age, dtype: float64)

In [ ]:
titanic_train[titanic_train["Cabin"].isnull()]["Age"]

0      22.0
2      26.0
4      35.0
5       NaN
7       2.0
       ...
150    51.0
152    55.5
153    40.5
154     NaN
155    51.0
Name: Age, Length: 125, dtype: float64

In [ ]:
titanic_train['Cabin'] == 'NaN'

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154    False
155    False
Name: Cabin, Length: 156, dtype: bool

In [ ]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
titanic_train.iloc[np.where(titanic_train['Cabin'].isnull() == True)][['Age','Cabin']]

      Age Cabin
0    22.0   NaN
2    26.0   NaN
4    35.0   NaN
5     NaN   NaN
7     2.0   NaN
..    ...   ...
150  51.0   NaN
152  55.5   NaN
153  40.5   NaN
154   NaN   NaN
155  51.0   NaN

[125 rows x 2 columns]

In [ ]:
titanic_train.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [ ]:
titanic_train.Name[(titanic_train.Survived == 1) & (titanic_train.Sex == "male")]

17                     Williams, Mr. Charles Eugene
21                            Beesley, Mr. Lawrence
23                     Sloper, Mr. William Thompson
36                                 Mamee, Mr. Hanna
55                                Woolner, Mr. Hugh
65                         Moubarek, Master. Gerios
74                                    Bing, Mr. Lee
78                    Caldwell, Master. Alden Gates
81                      Sheerlinck, Mr. Jan Baptist
97                  Greenfield, Mr. William Bertram
107                          Moss, Mr. Albert Johan
125                    Nicola-Yarred, Master. Elias
127                       Madsen, Mr. Fridtjof Arne
146    Andersson, Mr. August Edvard ("Wennerstrom")
Name: Name, dtype: object

In [ ]:
titanic_train.Name[(titanic_train.Survived == 0) & (titanic_train.Sex == "male")]

0              Braund, Mr. Owen Harris
4             Allen, Mr. William Henry
5                     Moran, Mr. James
6              McCarthy, Mr. Timothy J
7       Palsson, Master. Gosta Leonard
                    ...
150         Bateman, Rev. Robert James
152                   Meo, Mr. Alfonzo
153    van Billiard, Mr. Austin Blyler
154              Olsen, Mr. Ole Martin
155        Williams, Mr. Charles Duane
Name: Name, Length: 86, dtype: object

In [ ]:
titanic_train['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
Name: Name, Length: 156, dtype: object

In [ ]:
titanic_train.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
Name: Name, Length: 156, dtype: object

In [ ]:
titanic_train[(titanic_train['Sex']== 'male') & (titanic_train['Survived']== 1)]['Name']

17                     Williams, Mr. Charles Eugene
21                            Beesley, Mr. Lawrence
23                     Sloper, Mr. William Thompson
36                                 Mamee, Mr. Hanna
55                                Woolner, Mr. Hugh
65                         Moubarek, Master. Gerios
74                                    Bing, Mr. Lee
78                    Caldwell, Master. Alden Gates
81                      Sheerlinck, Mr. Jan Baptist
97                  Greenfield, Mr. William Bertram
107                          Moss, Mr. Albert Johan
125                    Nicola-Yarred, Master. Elias
127                       Madsen, Mr. Fridtjof Arne
146    Andersson, Mr. August Edvard ("Wennerstrom")
Name: Name, dtype: object

In [ ]:
titanic_train['new_col'] = "sudh"

In [ ]:
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sudh
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sudh
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sudh
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S,sudh
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,sudh
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,sudh
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,sudh
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,sudh

In [ ]:
l = [1,2,3,4,5]

In [ ]:
pd.Series(l)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
d = {'key' : "sudh" , "title" :"kumar" , "mail_id" : "sudha@gmail.com"}

In [ ]:
pd.DataFrame(d,index=['key' , 'title' , 'mail_id'])

          key  title          mail_id
key      sudh  kumar  sudha@gmail.com
title    sudh  kumar  sudha@gmail.com
mail_id  sudh  kumar  sudha@gmail.com

In [ ]:
pd.Series(d)

key                   sudh
title                kumar
mail_id    sudha@gmail.com
dtype: object

In [ ]:
arr  = np.random.randn(3,4)

In [ ]:
pd.DataFrame(arr)

          0         1         2         3
0  0.249873 -0.894455 -1.157412 -1.166982
1 -0.803732  2.011122 -0.396354 -0.999178
2 -0.763614 -1.364206  0.064865 -0.326826

In [ ]:
pd.Series(arr)

Exception: Data must be 1-dimensional

In [ ]:
ser = pd.Series(np.array([4,5,6,7,8]),index=['a','b','sudh',"kumar",'c'])

In [ ]:
ser

a        4
b        5
sudh     6
kumar    7
c        8
dtype: int32

In [ ]:
ser['sudh']

6

In [ ]:
ser.iloc[0]

4

In [ ]:
ser.loc['sudh']

6

In [ ]:
ser['sudh']

6

In [ ]:
ser1 = pd.Series(np.array([4,5,6,7,8]),index=[45,51,62,"sudh",83])

In [ ]:
ser1

45      4
51      5
62      6
sudh    7
83      8
dtype: int32

In [ ]:
ser1.loc[51]

5

In [ ]:
df = pd.DataFrame(np.random.randint(3,6,(4,5)),index=['a','b','c','d'],columns=['x','y','z','u','v'])

In [ ]:
df

   x  y  z  u  v
a  4  5  5  3  3
b  4  4  3  4  4
c  4  5  5  5  3
d  3  3  4  4  5

In [ ]:
df.loc[['c','d'],['z','u']]

   z  u
c  5  5
d  4  4

In [ ]:
df.iloc[[2,3],[2,3]]

   z  u
c  5  5
d  4  4

In [ ]:
df.iloc[2:,2:4]

   z  u
c  5  5
d  4  4

In [ ]:
df

   x  y  z  u  v
a  4  5  5  3  3
b  4  4  3  4  4
c  4  5  5  5  3
d  3  3  4  4  5

In [ ]:
df['new'] = df['x'] + df.y

In [ ]:
df

   x  y  z  u  v  new
a  4  5  5  3  3    9
b  4  4  3  4  4    8
c  4  5  5  5  3    9
d  3  3  4  4  5    6

In [ ]:
df.drop('x',axis=1,inplace=True)

In [ ]:
df

   y  z  u  v  new
a  5  5  3  3    9
b  4  3  4  4    8
c  5  5  5  3    9
d  3  4  4  5    6

In [ ]:
df = df.drop('a')

In [ ]:
df

   y  z  u  v  new
b  4  3  4  4    8
d  3  4  4  5    6

In [ ]:
np.random.seed(23)
df = pd.DataFrame(np.random.randn(4,5),index=['a','b','c','d'],columns=['x','y','z','u','v'])

In [ ]:
df

          x         y         z         u         v
a  0.666988  0.025813 -0.777619  0.948634  0.701672
b -1.051082 -0.367548 -1.137460 -1.322148  1.772258
c -0.347459  0.670140  0.322272  0.060343 -1.043450
d -1.009942  0.441736  1.128877 -1.838068 -0.938769

In [ ]:
df[df<0]

          x         y         z         u         v
a       NaN       NaN -0.777619       NaN       NaN
b -1.051082 -0.367548 -1.137460 -1.322148       NaN
c -0.347459       NaN       NaN       NaN -1.043450
d -1.009942       NaN       NaN -1.838068 -0.938769

In [ ]:
df.values[df.values<0]

array([-0.77761941, -1.05108156, -0.36754812, -1.13745969, -1.32214752,
       -0.34745899, -1.04345   , -1.00994188, -1.83806777, -0.93876863])

In [ ]:
df.values[df.iloc[0:5]<0]

array([-0.77761941, -1.05108156, -0.36754812, -1.13745969, -1.32214752,
       -0.34745899, -1.04345   , -1.00994188, -1.83806777, -0.93876863])

In [ ]:

c = df.values[df.values<0]
for i in df.columns:
    for j in df.index:
        if df.loc[j,i] in c:
            print(i,j)

x b
x c
x d
y b
z a
z b
u b
u d
v c
v d

In [ ]:
l = df.values[df<0]
for c in df.columns:
    for v in df.index:
        if df[c][v] in l:
            print(c,v,df[c][v])

x b -1.0510815639071178
x c -0.34745899102186334
x d -1.0099418765878465
y b -0.3675481161171661
z a -0.7776194131918178
z b -1.1374596907250272
u b -1.3221475225908594
u d -1.8380677677579502
v c -1.0434500017467254
v d -0.9387686311201282

In [ ]:
for i in df.columns:
    for j in df.index:
        if df.loc[j,i]<0:
            print(i,j,df.loc[j,i])

x b -1.0510815639071178
x c -0.34745899102186334
x d -1.0099418765878465
y b -0.3675481161171661
z a -0.7776194131918178
z b -1.1374596907250272
u b -1.3221475225908594
u d -1.8380677677579502
v c -1.0434500017467254
v d -0.9387686311201282

In [ ]:
for i in df.columns:
    for j in df.index:
        for k in df.values[df.values<0]:
            print(k,"----",(i,j))

-0.7776194131918178 ---- ('x', 'a')
-1.0510815639071178 ---- ('x', 'a')
-0.3675481161171661 ---- ('x', 'a')
-1.1374596907250272 ---- ('x', 'a')
-1.3221475225908594 ---- ('x', 'a')
-0.34745899102186334 ---- ('x', 'a')
-1.0434500017467254 ---- ('x', 'a')
-1.0099418765878465 ---- ('x', 'a')
-1.8380677677579502 ---- ('x', 'a')
-0.9387686311201282 ---- ('x', 'a')
-0.7776194131918178 ---- ('x', 'b')
-1.0510815639071178 ---- ('x', 'b')
-0.3675481161171661 ---- ('x', 'b')
-1.1374596907250272 ---- ('x', 'b')
-1.3221475225908594 ---- ('x', 'b')
-0.34745899102186334 ---- ('x', 'b')
-1.0434500017467254 ---- ('x', 'b')
-1.0099418765878465 ---- ('x', 'b')
-1.8380677677579502 ---- ('x', 'b')
-0.9387686311201282 ---- ('x', 'b')
-0.7776194131918178 ---- ('x', 'c')
-1.0510815639071178 ---- ('x', 'c')
-0.3675481161171661 ---- ('x', 'c')
-1.1374596907250272 ---- ('x', 'c')
-1.3221475225908594 ---- ('x', 'c')
-0.34745899102186334 ---- ('x', 'c')
-1.0434500017467254 ---- ('x', 'c')
-1.0099418765878465 ---- ('x', 'c')
-1.8380677677579502 ---- ('x', 'c')
-0.9387686311201282 ---- ('x', 'c')
-0.7776194131918178 ---- ('x', 'd')
-1.0510815639071178 ---- ('x', 'd')
-0.3675481161171661 ---- ('x', 'd')
-1.1374596907250272 ---- ('x', 'd')
-1.3221475225908594 ---- ('x', 'd')
-0.34745899102186334 ---- ('x', 'd')
-1.0434500017467254 ---- ('x', 'd')
-1.0099418765878465 ---- ('x', 'd')
-1.8380677677579502 ---- ('x', 'd')
-0.9387686311201282 ---- ('x', 'd')
-0.7776194131918178 ---- ('y', 'a')
-1.0510815639071178 ---- ('y', 'a')
-0.3675481161171661 ---- ('y', 'a')
-1.1374596907250272 ---- ('y', 'a')
-1.3221475225908594 ---- ('y', 'a')
-0.34745899102186334 ---- ('y', 'a')
-1.0434500017467254 ---- ('y', 'a')
-1.0099418765878465 ---- ('y', 'a')
-1.8380677677579502 ---- ('y', 'a')
-0.9387686311201282 ---- ('y', 'a')
-0.7776194131918178 ---- ('y', 'b')
-1.0510815639071178 ---- ('y', 'b')
-0.3675481161171661 ---- ('y', 'b')
-1.1374596907250272 ---- ('y', 'b')
-1.3221475225908594 ---- ('y', 'b')
-0.34745899102186334 ---- ('y', 'b')
-1.0434500017467254 ---- ('y', 'b')
-1.0099418765878465 ---- ('y', 'b')
-1.8380677677579502 ---- ('y', 'b')
-0.9387686311201282 ---- ('y', 'b')
-0.7776194131918178 ---- ('y', 'c')
-1.0510815639071178 ---- ('y', 'c')
-0.3675481161171661 ---- ('y', 'c')
-1.1374596907250272 ---- ('y', 'c')
-1.3221475225908594 ---- ('y', 'c')
-0.34745899102186334 ---- ('y', 'c')
-1.0434500017467254 ---- ('y', 'c')
-1.0099418765878465 ---- ('y', 'c')
-1.8380677677579502 ---- ('y', 'c')
-0.9387686311201282 ---- ('y', 'c')
-0.7776194131918178 ---- ('y', 'd')
-1.0510815639071178 ---- ('y', 'd')
-0.3675481161171661 ---- ('y', 'd')
-1.1374596907250272 ---- ('y', 'd')
-1.3221475225908594 ---- ('y', 'd')
-0.34745899102186334 ---- ('y', 'd')
-1.0434500017467254 ---- ('y', 'd')
-1.0099418765878465 ---- ('y', 'd')
-1.8380677677579502 ---- ('y', 'd')
-0.9387686311201282 ---- ('y', 'd')
-0.7776194131918178 ---- ('z', 'a')
-1.0510815639071178 ---- ('z', 'a')
-0.3675481161171661 ---- ('z', 'a')
-1.1374596907250272 ---- ('z', 'a')
-1.3221475225908594 ---- ('z', 'a')
-0.34745899102186334 ---- ('z', 'a')
-1.0434500017467254 ---- ('z', 'a')
-1.0099418765878465 ---- ('z', 'a')
-1.8380677677579502 ---- ('z', 'a')
-0.9387686311201282 ---- ('z', 'a')
-0.7776194131918178 ---- ('z', 'b')
-1.0510815639071178 ---- ('z', 'b')
-0.3675481161171661 ---- ('z', 'b')
-1.1374596907250272 ---- ('z', 'b')
-1.3221475225908594 ---- ('z', 'b')
-0.34745899102186334 ---- ('z', 'b')
-1.0434500017467254 ---- ('z', 'b')
-1.0099418765878465 ---- ('z', 'b')
-1.8380677677579502 ---- ('z', 'b')
-0.9387686311201282 ---- ('z', 'b')
-0.7776194131918178 ---- ('z', 'c')
-1.0510815639071178 ---- ('z', 'c')
-0.3675481161171661 ---- ('z', 'c')
-1.1374596907250272 ---- ('z', 'c')
-1.3221475225908594 ---- ('z', 'c')
-0.34745899102186334 ---- ('z', 'c')
-1.0434500017467254 ---- ('z', 'c')
-1.0099418765878465 ---- ('z', 'c')
-1.8380677677579502 ---- ('z', 'c')
-0.9387686311201282 ---- ('z', 'c')
-0.7776194131918178 ---- ('z', 'd')
-1.0510815639071178 ---- ('z', 'd')
-0.3675481161171661 ---- ('z', 'd')
-1.1374596907250272 ---- ('z', 'd')
-1.3221475225908594 ---- ('z', 'd')
-0.34745899102186334 ---- ('z', 'd')
-1.0434500017467254 ---- ('z', 'd')
-1.0099418765878465 ---- ('z', 'd')
-1.8380677677579502 ---- ('z', 'd')
-0.9387686311201282 ---- ('z', 'd')
-0.7776194131918178 ---- ('u', 'a')
-1.0510815639071178 ---- ('u', 'a')
-0.3675481161171661 ---- ('u', 'a')
-1.1374596907250272 ---- ('u', 'a')
-1.3221475225908594 ---- ('u', 'a')
-0.34745899102186334 ---- ('u', 'a')
-1.0434500017467254 ---- ('u', 'a')
-1.0099418765878465 ---- ('u', 'a')
-1.8380677677579502 ---- ('u', 'a')
-0.9387686311201282 ---- ('u', 'a')
-0.7776194131918178 ---- ('u', 'b')
-1.0510815639071178 ---- ('u', 'b')
-0.3675481161171661 ---- ('u', 'b')
-1.1374596907250272 ---- ('u', 'b')
-1.3221475225908594 ---- ('u', 'b')
-0.34745899102186334 ---- ('u', 'b')
-1.0434500017467254 ---- ('u', 'b')
-1.0099418765878465 ---- ('u', 'b')
-1.8380677677579502 ---- ('u', 'b')
-0.9387686311201282 ---- ('u', 'b')
-0.7776194131918178 ---- ('u', 'c')
-1.0510815639071178 ---- ('u', 'c')
-0.3675481161171661 ---- ('u', 'c')
-1.1374596907250272 ---- ('u', 'c')
-1.3221475225908594 ---- ('u', 'c')
-0.34745899102186334 ---- ('u', 'c')
-1.0434500017467254 ---- ('u', 'c')
-1.0099418765878465 ---- ('u', 'c')
-1.8380677677579502 ---- ('u', 'c')
-0.9387686311201282 ---- ('u', 'c')
-0.7776194131918178 ---- ('u', 'd')
-1.0510815639071178 ---- ('u', 'd')
-0.3675481161171661 ---- ('u', 'd')
-1.1374596907250272 ---- ('u', 'd')
-1.3221475225908594 ---- ('u', 'd')
-0.34745899102186334 ---- ('u', 'd')
-1.0434500017467254 ---- ('u', 'd')
-1.0099418765878465 ---- ('u', 'd')
-1.8380677677579502 ---- ('u', 'd')
-0.9387686311201282 ---- ('u', 'd')
-0.7776194131918178 ---- ('v', 'a')
-1.0510815639071178 ---- ('v', 'a')
-0.3675481161171661 ---- ('v', 'a')
-1.1374596907250272 ---- ('v', 'a')
-1.3221475225908594 ---- ('v', 'a')
-0.34745899102186334 ---- ('v', 'a')
-1.0434500017467254 ---- ('v', 'a')
-1.0099418765878465 ---- ('v', 'a')
-1.8380677677579502 ---- ('v', 'a')
-0.9387686311201282 ---- ('v', 'a')
-0.7776194131918178 ---- ('v', 'b')
-1.0510815639071178 ---- ('v', 'b')
-0.3675481161171661 ---- ('v', 'b')
-1.1374596907250272 ---- ('v', 'b')
-1.3221475225908594 ---- ('v', 'b')
-0.34745899102186334 ---- ('v', 'b')
-1.0434500017467254 ---- ('v', 'b')
-1.0099418765878465 ---- ('v', 'b')
-1.8380677677579502 ---- ('v', 'b')
-0.9387686311201282 ---- ('v', 'b')
-0.7776194131918178 ---- ('v', 'c')
-1.0510815639071178 ---- ('v', 'c')
-0.3675481161171661 ---- ('v', 'c')
-1.1374596907250272 ---- ('v', 'c')
-1.3221475225908594 ---- ('v', 'c')
-0.34745899102186334 ---- ('v', 'c')
-1.0434500017467254 ---- ('v', 'c')
-1.0099418765878465 ---- ('v', 'c')
-1.8380677677579502 ---- ('v', 'c')
-0.9387686311201282 ---- ('v', 'c')
-0.7776194131918178 ---- ('v', 'd')
-1.0510815639071178 ---- ('v', 'd')
-0.3675481161171661 ---- ('v', 'd')
-1.1374596907250272 ---- ('v', 'd')
-1.3221475225908594 ---- ('v', 'd')
-0.34745899102186334 ---- ('v', 'd')
-1.0434500017467254 ---- ('v', 'd')
-1.0099418765878465 ---- ('v', 'd')
-1.8380677677579502 ---- ('v', 'd')
-0.9387686311201282 ---- ('v', 'd')

In [ ]:
k=df<0
for i in k.columns:
    for j in k.index:
        if k[i][j]==True:
            print(i,j)

x b
x c
x d
y b
z a
z b
u b
u d
v c
v d

In [ ]:
d = {'key1':[1,2,3,4,np.nan],"key2":["sudh" ,"kumar" , np.nan,5,6] ,'key3' :[np.nan,np.nan,np.nan,3,8]}
df = pd.DataFrame(d)

In [ ]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.dropna()

   key1 key2  key3
3   4.0    5   3.0

In [ ]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.dropna(thresh=0)

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.dropna(thresh=1)

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.dropna(thresh=2)

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.dropna(thresh=3)

   key1 key2  key3
3   4.0    5   3.0

In [ ]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.dropna(thresh=4)

Empty DataFrame
Columns: [key1, key2, key3]
Index: []

In [ ]:
df.dropna(axis=1 , thresh=3)

   key1   key2
0   1.0   sudh
1   2.0  kumar
2   3.0    NaN
3   4.0      5
4   NaN      6

In [ ]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
df.fillna(567)

    key1   key2   key3
0    1.0   sudh  567.0
1    2.0  kumar  567.0
2    3.0    567  567.0
3    4.0      5    3.0
4  567.0      6    8.0

In [ ]:
df.fillna(value=df['key1'].mean())

   key1   key2  key3
0   1.0   sudh   2.5
1   2.0  kumar   2.5
2   3.0    2.5   2.5
3   4.0      5   3.0
4   2.5      6   8.0

In [ ]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0    NaN   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [ ]:
d1 = {'name' :['sudh' , 'visal' , 'umang', 'vishal' ,'umang'],"mail_id" :["sudh@gmail.com", "vishal@gmail.com",'umang@gmail.com','vishal@gmail.com','umang@gmail.com'],
     'salary' :[100,200,500,200,500]}

In [ ]:
df = pd.DataFrame(d1)

In [ ]:
df

     name           mail_id  salary
0    sudh    sudh@gmail.com     100
1   visal  vishal@gmail.com     200
2   umang   umang@gmail.com     500
3  vishal  vishal@gmail.com     200
4   umang   umang@gmail.com     500

In [ ]:
df.groupby('mail_id').mean()

                  salary
mail_id
sudh@gmail.com       100
umang@gmail.com      500
vishal@gmail.com     200

In [ ]:
df.groupby('mail_id').sum()

                  salary
mail_id
sudh@gmail.com       100
umang@gmail.com     1000
vishal@gmail.com     400

In [ ]:
type(df.groupby('mail_id').describe())

pandas.core.frame.DataFrame

In [ ]:
df.groupby('mail_id').describe()

                 salary
                  count   mean  std    min    25%    50%    75%    max
mail_id
sudh@gmail.com      1.0  100.0  NaN  100.0  100.0  100.0  100.0  100.0
umang@gmail.com     2.0  500.0  0.0  500.0  500.0  500.0  500.0  500.0
vishal@gmail.com    2.0  200.0  0.0  200.0  200.0  200.0  200.0  200.0

In [ ]:
df.groupby('mail_id').describe().loc['umang@gmail.com']

salary  count      2.0
        mean     500.0
        std        0.0
        min      500.0
        25%      500.0
        50%      500.0
        75%      500.0
        max      500.0
Name: umang@gmail.com, dtype: float64

In [ ]:
df.groupby('mail_id').describe().loc['umang@gmail.com']['salary']['mean']

500.0

In [ ]:
df.groupby('mail_id').describe().T

mail_id       sudh@gmail.com  umang@gmail.com  vishal@gmail.com
salary count             1.0              2.0               2.0
       mean            100.0            500.0             200.0
       std               NaN              0.0               0.0
       min             100.0            500.0             200.0
       25%             100.0            500.0             200.0
       50%             100.0            500.0             200.0
       75%             100.0            500.0             200.0
       max             100.0            500.0             200.0

In [ ]:
df.groupby('mail_id').describe()

                 salary
                  count   mean  std    min    25%    50%    75%    max
mail_id
sudh@gmail.com      1.0  100.0  NaN  100.0  100.0  100.0  100.0  100.0
umang@gmail.com     2.0  500.0  0.0  500.0  500.0  500.0  500.0  500.0
vishal@gmail.com    2.0  200.0  0.0  200.0  200.0  200.0  200.0  200.0

In [ ]:
arr1 = np.random.randn(3,4)

In [ ]:
arr2 = np.random.randn(3,4)

In [ ]:
arr3 = np.random.randn(3,4)

In [ ]:
df1 = pd.DataFrame(arr1,columns=["A","B","C","D"],index = [0,1,2])

In [ ]:
df2 = pd.DataFrame(arr2,columns=["A","B","C","D"],index = [3,4,5])

In [ ]:
df2

          A         B         C         D
0 -0.071324 -0.045438  1.040886 -0.094035
1 -0.420844 -0.551989 -0.121098  0.190141
2  0.512137  0.131538 -0.331617 -1.632386

In [ ]:
df3 = pd.DataFrame(arr3,columns=["A","B","C","D"],index = [6,7,8])

In [ ]:
df1

          A         B         C         D
0  0.728876  1.968435 -0.547788 -0.679418
1 -2.506230  0.146960  0.606195 -0.022539
2  0.013422  0.935945  0.420623  0.411620

In [ ]:
df2

          A         B         C         D
0 -0.071324 -0.045438  1.040886 -0.094035
1 -0.420844 -0.551989 -0.121098  0.190141
2  0.512137  0.131538 -0.331617 -1.632386

In [ ]:
df3

          A         B         C         D
0  0.619114 -0.992574 -0.161346  1.192404
1  0.250737 -0.813616  0.703624 -0.268142
2 -0.482559  1.244610  0.676860  3.187503

In [ ]:
df4 = pd.concat([df1,df2,df3])

In [ ]:
df5 = pd.concat([df1,df2,df3],axis=1)

In [ ]:
df4

          A         B         C         D
0  0.728876  1.968435 -0.547788 -0.679418
1 -2.506230  0.146960  0.606195 -0.022539
2  0.013422  0.935945  0.420623  0.411620
0 -0.071324 -0.045438  1.040886 -0.094035
1 -0.420844 -0.551989 -0.121098  0.190141
2  0.512137  0.131538 -0.331617 -1.632386
0  0.619114 -0.992574 -0.161346  1.192404
1  0.250737 -0.813616  0.703624 -0.268142
2 -0.482559  1.244610  0.676860  3.187503

In [ ]:
df4.iloc[0]

A    0.728876
B    1.968435
C   -0.547788
D   -0.679418
Name: 0, dtype: float64

In [ ]:
df4.loc[0]

          A         B         C         D
0  0.728876  1.968435 -0.547788 -0.679418
0 -0.071324 -0.045438  1.040886 -0.094035
0  0.619114 -0.992574 -0.161346  1.192404

In [ ]:
df5

,A,B,C,D,A,B,C,D,A,B,C,D
0,0.728876,1.968435,-0.547788,-0.679418,-0.071324,-0.045438,1.040886,-0.094035,0.619114,-0.992574,-0.161346,1.192404
1,-2.506230,0.146960,0.606195,-0.022539,-0.420844,-0.551989,-0.121098,0.190141,0.250737,-0.813616,0.703624,-0.268142
2,0.013422,0.935945,0.420623,0.411620,0.512137,0.131538,-0.331617,-1.632386,-0.482559,1.244610,0.676860,3.187503

In [ ]:
df5['A']

          A         A         A
0  0.728876 -0.071324  0.619114
1 -2.506230 -0.420844  0.250737
2  0.013422  0.512137 -0.482559

In [ ]:
df5.iloc[:,4]

0   -0.071324
1   -0.420844
2    0.512137
Name: A, dtype: float64

In [ ]:
pd.concat([df1,df2,df3],axis=1).fillna(0)

,A,B,C,D,A,B,C,D,A,B,C,D
0,0.728876,1.968435,-0.547788,-0.679418,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-2.506230,0.146960,0.606195,-0.022539,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.013422,0.935945,0.420623,0.411620,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,-0.071324,-0.045438,1.040886,-0.094035,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,-0.420844,-0.551989,-0.121098,0.190141,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.512137,0.131538,-0.331617,-1.632386,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.619114,-0.992574,-0.161346,1.192404
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250737,-0.813616,0.703624,-0.268142
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.482559,1.244610,0.676860,3.187503

In [ ]:
df1

          A         B         C         D
0  0.728876  1.968435 -0.547788 -0.679418
1 -2.506230  0.146960  0.606195 -0.022539
2  0.013422  0.935945  0.420623  0.411620

In [ ]:
df2

          A         B         C         D
3 -0.071324 -0.045438  1.040886 -0.094035
4 -0.420844 -0.551989 -0.121098  0.190141
5  0.512137  0.131538 -0.331617 -1.632386

In [ ]:
np.random.seed(23)
arr1 = np.random.randn(3,4)
np.random.seed(23)
arr2 = np.random.randn(3,4)
df11 = pd.DataFrame(arr1,columns=["A","B","C","D"],index = [0,1,2])
df22 = pd.DataFrame(arr2,columns=["A","B","C","D"],index = [3,4,5])

In [ ]:
df11

          A         B         C         D
0  0.666988  0.025813 -0.777619  0.948634
1  0.701672 -1.051082 -0.367548 -1.137460
2 -1.322148  1.772258 -0.347459  0.670140

In [ ]:
df22

          A         B         C         D
3  0.666988  0.025813 -0.777619  0.948634
4  0.701672 -1.051082 -0.367548 -1.137460
5 -1.322148  1.772258 -0.347459  0.670140

In [ ]:
pd.merge(df11,df22,on= "A")

          A       B_x       C_x       D_x       B_y       C_y       D_y
0  0.666988  0.025813 -0.777619  0.948634  0.025813 -0.777619  0.948634
1  0.701672 -1.051082 -0.367548 -1.137460 -1.051082 -0.367548 -1.137460
2 -1.322148  1.772258 -0.347459  0.670140  1.772258 -0.347459  0.670140

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K8', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df1

  key   A   B
0  K0  A0  B0
1  K8  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
df2

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge(df1,df2,on= 'key',how = 'outer')

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K8   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [ ]:
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df1

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
df2

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(df1,df2,on = ['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

df2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
df1

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
df2

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [ ]:
df1.join(df2,how = 'outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3